<h1>Fyber offers</h1>

<form method=POST action="/offers">
  <div>
    <label>User id</label><br>
    <input type=text name=uid>
  </div>

  <div>
    <label>Campaign</label><br>
    <input type=text name=pub0>
  </div>

  <div>
    <label>Page</label><br>
    <input type=text name=page>
  </div>

  <input type=submit>
</form>
